<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
    <ion-back-button icon="chevron-back-outline" defaultHref="home" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="events">
  <ion-item href="/event-view/1"><img src="/assets/images/tree.png" class="eventImage">It is finally October, you can now cut back your trees again. The apple tree(s) in the backyard should get cut back generously, so they can florist next year.</ion-item>
  <ion-item href="/event-view/2"><img src="/assets/images/oasis.png" class="eventImage">According to our data, it has not rained in the last two days, therefore you can check whether some of your plants already need a bit water.</ion-item>
</ion-list>
</ion-content>
