<ion-header>
  <ion-toolbar>
    <ion-title>Creating a sustainable garden</ion-title>
    <ion-back-button icon="chevron-back-outline" defaultHref="home" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Best flowers for bees</h2>
    <p>
      Make sure you have plenty of bee-friendly blooms, with at least two in flower at any given time from spring to
      autumn. Different species of bee are active throughout the year.

      If you have a small garden, consider planting seasonal containers with bee-friendly plants.

    </p>
    <p><b>Some Suggestions:</b></p>
     <ion-row>
       <ion-col><b>Spring</b></ion-col>
       <ion-col><b>Summer</b></ion-col>
     </ion-row>
    <ion-row>
      <ion-col><li>bluebell</li></ion-col>
      <ion-col><li>campanula</li></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><li>dicentra</li></ion-col>
      <ion-col><li>comfrey</li></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><li>bluebell</li></ion-col>
      <ion-col><li>allium</li></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><li>pussy willow</li></ion-col>
      <ion-col><li>cornflower</li></ion-col>
    </ion-row>
  <h2>Make a wild corner</h2>
    <p></p>
    <p>
      If your garden has a south-facing bank, consider leaving it as a wild corner – it could offer great nest sites for warmth-loving solitary bees.

      Remove any tussocks of grass to allow them to bury into well-drained soil, then leave this area undisturbed through the year.</p>
    <h2>Provide shelter</h2>
    <p></p>
    <p>
      Sheltered, shady corners that are out of the way are much more attractive to bumblebees.

      Include a few upturned/broken plant pots with some points of entry for added shelter.

      You could also make or buy a bee hotel, which could be used by red mason bees, leafcutter bees and yellow-faced bees.</p>
  </div>
</ion-content>
